body {
    color: #222;
    font-family: 'Alegreya', serif;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: #222;
    
}

blockquote {
    margin: 0 0 5rem 0;
}

q {
    display: block;
    font-size: 1.25rem;
}

cite {
    font-family: 'Alegreya Sans SC', sans-serif;
    display: block;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    margin: 0 0 5rem 0;
}

.wrapper {
    margin: 10rem 2rem 2rem 2rem;
}

footer {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2rem;    
}

@media only screen and (min-width: 25rem) {
    h1 {
        font-size: 5rem;
    }

    q {
        font-size: 2.25rem;
    }
}

@media only screen and (min-width: 50rem) {

    .wrapper {
        margin: 10rem 2rem 2rem 10rem;
        max-width: 50rem;
    }
}

