<!doctype html>
<html lang="ro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans+SC" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>(eoni) memorabili</h1>
        </header>
        <main class="quotes">
            {{ content }}
        </main>
        <footer>
            <p><output id="quote-counter" title="Quotes">0</output> de citate transcrise și colectate de <a href="https://horatiu.me" target="_blank">horatiu.me</a></p>
        </footer>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>